---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT SHOW MY API KEY&query=Who%20Killed%20Mike%20Dao
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 25 May 2022 17:40:05 GMT
recorded_with: VCR 6.1.0
